/* ----------------------
   Fv 基本構造
   ---------------------- */
.ex-cat-fv {
  .fv {
    position: relative;
    overflow: hidden;
    height: calc(
      100vh - 60px
    ); //全画面　‐　ヘッダー　フッターはfvに重なる存在と割り切る
  }

  /* 背景＝紙 */
  .fv__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .fv__frame {
    position: absolute;
    inset: 0 20px; // ← ここが「配置用フレーム」。innerもここで取る。
    display: grid;
    place-items: center; // 中央に“置く”
  }

  /* コンテナを親要素内に自在に配置 */
  .fv__container {
    position: relative;
    width: 100%;
    padding: 1rem 1.25rem;
    max-width: 760px;

    background: rgba(0, 0, 0, 0.55);
    color: #aaffcc;
    border-radius: 12px;
    backdrop-filter: blur(4px);

    h1 {
    }

    p {
    }
  }

  .section--explanation {
    .explanation__container {
      width: 100%;
      padding: 1.25rem 1.5rem;
      background: rgba(0, 0, 0, 0.55);
      backdrop-filter: blur(6px);
      border-radius: 16px;
      color: #aaffcc;
      font-family: ui-monospace, monospace;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

      h1 {
        font-size: 1rem;
        margin-bottom: 0.75rem;
      }
      .flex-layout {
        display: flex;
        gap: 10px;
      }
      pre {
        position: relative;
        width: 100%;
        height: 300px;
        background: #000;
        padding: 0.75rem;
        border-radius: 8px;
        overflow-x: auto;
        overflow-y: auto;
        margin-bottom: 0.75rem;
        &::after {
          position: absolute;
          content: "";
          border: 1px solid white;

          // 位置
          top: 5px;
          left: 20px;
          transform: translateX(-50%);
        }
      }
      .html {
        &::after {
          content: "html";
        }
      }
      .scss {
        &::after {
          content: "scss";
        }
      }

      .explanation__caption {
        height: 100px;
        padding: 0.75rem;
        border-radius: 8px;
        font-size: 0.8rem;
        opacity: 0.8;
        background: #000;
        overflow-x: auto;
        overflow-y: auto;
      }
    }
  }

  /* ヘッダー */
  .site-header {
    background-color: #f8f8f8;
    padding: 1rem 0;

    .site-title {
      font-size: 1.5rem;
    }

    .site-nav ul {
      display: flex;
      gap: 1rem;
    }
  }

  /* フッター */
  .site-footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
  }
}
