/* ----------------------
   fvのimgをbgとして使う型
   ---------------------- */

.fv__bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    //imgの縦横の縮尺比率は変えないが、imgの大きさは親要素に合わせる
    //つまり、親要素をカバーしたうえで、余ったimgは切り取られる
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; //中央配置
  }
}

// fvのheightは基本的に指定しておくこと。そうしないと、bgの高さが出ない。
.fv {
  position: relative;
  overflow: hidden;
  height: calc(
    100vh - 60px
  ); //全画面　‐　ヘッダー (フッターはfvに重なる存在と割り切る)
}
.fv__frame {
  position: absolute;
  inset: 0 20px; // ← ここが「配置用フレーム」。innerもここで取る。
  display: grid;
  place-items: center; // 中央に“置く”
}

/* コンテナを親要素内に自在に配置 */
.fv__container {
  position: relative;
  width: 100%;
  padding: 1rem 1.25rem;
  max-width: 760px;

  background: rgba(0, 0, 0, 0.55);
  color: #aaffcc;
  border-radius: 12px;
  backdrop-filter: blur(4px);

  h1 {
  }

  p {
  }
}
