// ======================================================
// _base.scss
// 母艦基盤用 SCSS
//
// ・SPベースで作成（MD / LG は style.scss で上書き）
// ・mq（メディアクエリ）は原則ここでは使用しない
// ・body, typography, layout, background layer の基本スタイルを定義
// ・案件固有の装飾・調整は style.scss にて上書き
//
// ここに書くものは母艦全ページ共通の「土台」として扱う
// ======================================================

@use "variables";
@use "breakpoints";
@use "mixin";

html {
  scroll-behavior: smooth; // ページ内リンクのスクロールをスムーズに
}

/* 共通リセット（最小限） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 共通決めごと */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  background-color: variables.$color-White;
  color: variables.$color-Blown;
  font-size: 12px;
  font-weight: 400;

  @include breakpoints.mq(md) {
    font-size: 16px;
  }
}
h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

h2 {
  font-size: 28px;
  margin-bottom: 14px;
}

h3 {
  font-size: 16px;
  margin-bottom: 14px;
}

p {
  font-size: 12px;
  margin-bottom: 14px;
}
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.section {
  position: relative; // 背景レイヤー用の基準
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner {
  max-width: variables.$container-max-width; //1024px
  padding: 0 variables.$space-lg; //20px
  margin: 0 auto;
}
.inner--flex {
  max-width: variables.$container-max-width; //1024px
  padding: 0 variables.$space-lg; //20px
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 直下に来たテキスト要素だけ margin-bottom を殺す */
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul,
  > ol,
  > dl {
    margin-bottom: 0;
  }
}

.flex-layout {
  display: flex;
  gap: 16px;
  /* 直下に来たテキスト要素だけ margin-bottom を殺す */
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul,
  > ol,
  > dl {
    margin-bottom: 0;
  }
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
